    <!-- right -->
    <div class="w-full px-8 pb-8">
    <!-- search -->
    <div class="sticky top-0 w-full py-4 bg-black">
        <form class="">
        <svg
            width="25"
            height="25"
            viewBox="0 0 24 24"
            class="absolute text-gray-400 top-7 left-5"
        >
            <path
            fill="currentColor"
            d="m18.9 20.3l-5.6-5.6q-.75.6-1.725.95Q10.6 16 9.5 16q-2.725 0-4.612-1.887Q3 12.225 3 9.5q0-2.725 1.888-4.613Q6.775 3 9.5 3t4.613 1.887Q16 6.775 16 9.5q0 1.1-.35 2.075q-.35.975-.95 1.725l5.625 5.625q.275.275.275.675t-.3.7q-.275.275-.7.275q-.425 0-.7-.275ZM9.5 14q1.875 0 3.188-1.312Q14 11.375 14 9.5q0-1.875-1.312-3.188Q11.375 5 9.5 5Q7.625 5 6.312 6.312Q5 7.625 5 9.5q0 1.875 1.312 3.188Q7.625 14 9.5 14Z"
            />
        </svg>
        <input class="w-full p-3 text-sm rounded-full pl-14 bg-zinc-900" value="" type="text" placeholder="Search Twitter">

        </form>
    </div>
    <!-- end search -->

    <!-- trending -->
    <div class="flex flex-col w-full gap-4 pt-4 rounded-2xl bg-zinc-900">
        <div class="px-4 font-bold">Trends for you</div>
        % for trend in trends:
        <div class="px-4 py-2 hover:bg-zinc-800">
        <div class="flex justify-between">
            <div>
            <p class="text-xs text-gray-400">Trending in Denmark</p>
            <div class="text-sm font-bold text-white">{{trend["title"]}}</div>
        </div>
            <svg
            width="28"
            height="28"
            viewBox="0 0 24 24"
            class="ml-auto text-gray-500"
            >
            <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M6.75 12a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Z"
            />
            </svg>
        </div>
        <div class="text-xs text-gray-400">{{trend["total_hashtags"]}} Tweets</div>
        </div>
        % end

        <a href="" class="p-4 text-base rounded-b-2xl text-sky-500 hover:bg-zinc-800"> Show more </a>
    </div>
    <!-- end trending -->

    <!-- who to follow -->
    <div
        class="sticky flex-col hidden w-full gap-4 pt-4 mt-4 lg:flex rounded-2xl bg-zinc-900 top-20"
    >
        <div class="px-4">
            <h2 class="text-xl font-bold text-gray-200">Who to follow</h2>
        </div>

        % for follow in follows:
        <!-- person -->
        <a href="/{{follow['username']}}" class="flex items-center px-4 py-3 hover:bg-zinc-800">
        <div class="mr-3">
            <img src="/images/avatar/{{follow['image_name']}}" class="w-12 h-12 rounded-full" />
        </div>
        <div class="">
            <div class="text-base font-bold text-gray-200">{{follow["fullname"]}}</div>
            <div class="text-sm text-gray-400">@{{follow["username"]}}</div>
        </div>
        <button
            class="px-4 py-1 ml-auto text-base font-medium text-black bg-gray-200 rounded-full "
        >
            Follow
        </button>
        </a>
        <!-- end person -->
        % end

        <a href="" class="p-4 text-base rounded-b-2xl text-sky-500 hover:bg-zinc-800"> Show more </a>
    </div>
    <!-- end who to follow  -->
    
    </div>
    <!-- end right -->
    <!-- script tags -->
    <script src="/js/validate.js"></script>
    <script>
        async function tweet(){
        const frm = event.target // this is the form
        const conn = await fetch("/tweet", {
            method: "POST",
            body: new FormData(frm)

        })
        // const data = await conn.text()
        const data = await conn.json()
        console.log(data)
        const message = frm.querySelector("input[name='tweet_message']").value
        console.log(message)
        }
        async function deactivateUser(){
            const frm = event.target 
            console.log(new FormData(frm))
            const conn = await fetch("/api-deactivate-user-email", {
                method: "POST",
                body: new FormData(frm)
            })
            const data = await conn.json()
            console.log("Email to deactivate user have been sent", data)
        }

        async function uploadAvatar(){
            const frm = event.target 
            console.log(new FormData(frm))
            const conn = await fetch("/api-upload-avatar", {
                method: "POST",
                body: new FormData(frm)
            })
            const data = await conn.json()
            console.log("Uploading the image", data)
            const profile_image = frm.querySelector("input[name='profile_image']").value
            console.log(profile_image)
        }
    </script>
</body>
</html>  