<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css" />
    <title>Document</title>
</head>
<body class="bg-black">
    <section class="flex items-center justify-center min-h-screen ">
        <div class="grid gap-3 text-white">
            <h3 class="text-lg">Are you sure you want to delete your account?</h3>
            <form method="DELETE" onsubmit="deactivateUser(); return false">
                <input type="hidden" name="delete_token" type="text" value="{{delete_token}}"> 
                <button class="w-full px-8 py-2 ml-auto font-semibold text-black bg-gray-200 rounded-full" type="submit">Yes</button>
            </form>
            <a href="/" class="w-full px-8 py-2 ml-auto font-semibold text-center text-white border border-gray-200 rounded-full">No</a>
        </div>
    </section>
    

    <script>
        async function deactivateUser(){
        const frm = event.target 
        console.log(new FormData(frm))
        const conn = await fetch("/api-deactivate-user", {
            method: "DELETE",
            body: new FormData(frm)
        })
        const data = await conn.json()
        console.log("deactivating the user", data)
        const delete_token = frm.querySelector("input[name='delete_token']").value
        console.log(delete_token)
        };        
    </script>
</body>
</html>