<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css" />
    <title>Twitter</title>
</head>
<body class="bg-black">
    <section class="flex items-center justify-center min-h-screen ">
        <div>
            <div class="grid justify-center m-8">
                <img class="w-20" src="/images/twitter_bird_logo.png" alt="twitter logo">
            </div>
            <h1 class="my-2 text-2xl text-white">Forgot your password?</h1>
            <form class="grid gap-2" method="POST" onsubmit="forgotPassword(); return false">
                <label class="text-white" for="email">Email</label>
                <input class="p-2 text-sm" name="user_email" type="text" placeholder="Please insert your email">
                <button class="p-3 mt-2 text-xl text-white bg-sky-500">Request Change Of Password</button>
            </form>
        </div>
    </section>
    <script>
        async function forgotPassword(){
            const frm = event.target 
            console.log(new FormData(frm))
            const conn = await fetch("/api-forgot-password", {
                method: "POST",
                body: new FormData(frm)

            })
            const data = await conn.json()
            console.log("Reset password email have been sent", data)
            const user_email = frm.querySelector("input[name='user_email']").value
            console.log("bob", user_email)
            
        }
    </script>
</body>
</html>
