<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css" />
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <title>Document</title>
</head>
<body class="bg-black">
    <section class="flex items-center justify-center min-h-screen ">
        <div class="w-1/4">
            <div class="grid justify-center m-8">
                <a href="/">
                <img class="w-20" src="/images/twitter_bird_logo.png" alt="twitter logo">
                </a>
            </div>
            <h1 class="my-2 text-2xl text-white">Sign In</h1>
            <form class="grid gap-2" method="POST" onsubmit="login(); return false">
                <label class="text-white" for="email">Email</label>
                <input class="p-2 text-sm" name="user_email" type="text" placeholder="Please insert your email">
                <div class="hidden"><span class="text-xs text-red-600">*Email not found</span></div>
                <label class="text-white" for="password">Password</label>
                <input class="p-2 text-sm" name="user_password" type="password" placeholder="Please insert your password">
                <div class="hidden"><span class="text-xs text-red-600">*Password not found</span></div>
                <button type="submit" class="p-2 text-xl text-white rounded-full bg-sky-500">Sign In</button>
            </form>
            <div class="grid mt-2">
                <a href="/forgot-password" type="submit" class="w-full p-2 text-center text-gray-200 bg-black border border-gray-200 rounded-full px-14 text-lh">Forgot password?</a>
            </div>
            
        </div>
</section>
<script>
    async function login(){
        const frm = event.target 
        console.log(new FormData(frm))
        const conn = await fetch("/login", {
            method: "POST",
            body: new FormData(frm)

        })
        const data = await conn.json()
        console.log("User created", data)
        const user_email = frm.querySelector("input[name='user_email']").value
        console.log(user_email)
        location.href = "/"
        console.log("redirect")
        

    }

</script>
</body>
</html>