%include("comp_left")

%include("modal_settings")
    <!-- center -->
    <div class="h-full min-h-screen border-zinc-800 border-x">
      <!-- profile navigation -->
      <div class="sticky top-0 px-2 h-14 backdrop-blur bg-black/60">
        <div class="flex w-full">
          <div class="mr-2 min-w-[53px] m-2 flex items-center"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"/></svg></div>
          <div class="">
          <h1 class="text-xl font-bold ">{{profile["user_first_name"]}} {{profile["user_last_name"]}}</h1>
          <p class="text-sm text-gray-500">{{profile["user_total_followers"]}} Tweets</p>
        </div>
        </div>
      </div>
      <!-- profile navigation -->

      <!-- profile description -->
      <div>
        <a href="">
          <img src="/images/banner/{{profile['user_banner']}}" alt="">
        </a>
        <div class="px-4 py-3">
          <div class="flex items-start justify-between text-white">
            <div class="w-1/4 -mt-20 bg-black rounded-full">
              <img class="p-1 rounded-full" src="/images/avatar/{{profile['user_avatar']}}" alt="">
            </div>
            <div class="flex gap-2">
              <div class="border border-gray-600 rounded-full min-w-[36px] min-h-[36px] flex justify-center">
                <div class="flex items-center">
                <svg
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  class="ml-auto"
                >
                  <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                    d="M6.75 12a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Z"
                  />
                </svg>
              </div>
              </div>
              <div class="border border-gray-600 rounded-full min-w-[36px] min-h-[36px] flex justify-center cursor-pointer">
                <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" class="ml-auto "><path fill="currentColor" d="M12 2c-1.1 0-2 .9-2 2v.29C7.12 5.14 5 7.82 5 11v6l-2 2v1h9.35a5.93 5.93 0 0 1-.35-2H7v-7c0-2.76 2.24-5 5-5s5 2.24 5 5v1.09a5.634 5.634 0 0 1 2 0V11c0-3.18-2.12-5.86-5-6.71V4a2 2 0 0 0-2-2m5 12v3h-3v2h3v3h2v-3h3v-2h-3v-3m-9 7a2 2 0 0 0 3.65 1.13c-.32-.34-.6-.72-.84-1.13Z"/></svg>
              </div>
              </div>
              % if user == profile:
              <a onclick="document.querySelector('#settings_modal').style.display='flex'" class="border border-gray-600 rounded-full min-w-[120px] flex justify-center cursor-pointer">
                <div class="flex items-center">
                  <p class="text-sm font-bold">Set up profile</p>
                </div>
              </a>
              % else:
              <a class="border border-gray-600 rounded-full min-w-[120px] flex justify-center cursor-pointer">
                <div class="flex items-center">
                  <p class="text-sm font-bold">Follow</p>
                </div>
              </a>
              % end

            </div>
          </div>
          <div class="my-2">
            <h1 class="text-xl font-bold ">{{profile["user_first_name"]}} {{profile["user_last_name"]}}</h1>
            <p class="text-sm text-gray-500">@{{profile["user_username"]}}</p>
          </div>
          <p class="flex gap-1 mb-2 text-sm text-gray-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"/></svg>
            <span>Joined June 2009</span>
          </p>
          <div class="flex">
            <div class="mr-5 text-sm font-bold">{{profile["user_total_following"]}} <span class="font-normal text-gray-500">Following</span></div>
            <div class="text-sm font-bold">{{profile["user_total_followers"]}} <span class="font-normal text-gray-500">Followers</span></div>
          </div>
          <div class="mt-3">
            <p class="text-sm text-gray-500 ">Not followed by anyone you're following</p>
          </div>
        </div>
      </div>
      <!-- profile description end-->

      <!-- profile loop view navigation-->
      <div class="flex border-b border-zinc-800">
        <a href="" class="w-full p-4 text-sm font-bold text-center hover:bg-zinc-900"
          ><span class="pb-4 border-b-4 border-blue-500 rounded-sm"
            >Tweets</span
          ></a
        >
        <a href="" class="w-full p-4 text-sm font-semibold text-center text-zinc-500 hover:bg-zinc-900"
          >Tweets & replies</a
        >
        <a href="" class="w-full p-4 text-sm font-semibold text-center text-zinc-500 hover:bg-zinc-900"
          >Media</a
        >
        <a href="" class="w-full p-4 text-sm font-semibold text-center text-zinc-500 hover:bg-zinc-900"
          >Links</a
        >
        
      </div>
      <!-- profile loop view navigation end-->


      % for tweet in tweets:
      <!-- tweet -->
      <div class="flex gap-4 p-4 border-b border-zinc-800">
        <div class="">
          <img
            src="/images/avatar/{{profile['user_avatar']}}"
            class="object-cover w-12 h-12 rounded-full "
          />
        </div>
        <!-- right of tweet -->
        <div class="w-full">
          <div class="flex">
            <div class="flex">
              <a class="flex items-center gap-2" href="/{{profile['user_username']}}">
              <span class="font-bold hover:underline">
                {{profile["user_first_name"]}} {{profile["user_last_name"]}} 
              </span>
              </a>
              <span class="ml-4">
                <strong>@</strong>{{profile["user_username"]}}
              </span>
              <div class="flex items-center ml-2 text-base font-bold text-gray-500">
                <span>·</span>
              </div>
              <div class="flex items-center ml-2 text-base text-gray-500">
                <span class="tweet-date" data-timestamp="{{ tweet['tweet_created_at'] }}"></span>
            </div>
            </div>
            <svg
              width="32"
              height="32"
              viewBox="0 0 24 24"
              class="ml-auto text-gray-500"
            >
              <path
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M6.75 12a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Z"
              />
            </svg>
          </div>
          <div class="mt-4">
            {{tweet["tweet_message"]}}
            <!-- % if "message_image" in tweet: -->
            %if tweet.get("tweet_image"):
            <img
              src="images/tweet/{{tweet['tweet_image']}}"
              class="object-contain w-full mt-4 rounded-lg max-h-96"
            />
            %end
          </div>
          <div class="flex justify-between mt-2">
            <div class="flex items-center gap-2 text-gray-500 hover:text-sky-500 group">
              <svg width="30" height="30" viewBox="0 0 256 256" class="p-1 transition ease-in-out rounded-full group-hover:bg-zinc-800">
                <path
                  fill="currentColor"
                  d="M128 232.4a15.9 15.9 0 0 1-13.7-7.7L99.5 200H40a16 16 0 0 1-16-16V56a16 16 0 0 1 16-16h176a16 16 0 0 1 16 16v128a16 16 0 0 1-16 16h-59.5l-6.8-4.1l6.8 4.1l-14.8 24.7a15.9 15.9 0 0 1-13.7 7.7ZM40 56v128h59.5a16.1 16.1 0 0 1 13.7 7.8l14.8 24.6l14.8-24.6a16.1 16.1 0 0 1 13.7-7.8H216V56Z"
                />
              </svg>
              <span class="text-sm text-gray-500 group-hover:text-sky-500"> {{tweet["tweet_total_replies"]}} </span>
            </div>
            <div class="flex items-center gap-2 text-gray-500 hover:text-green-500 group">
              <svg
                width="30"
                height="30"
                viewBox="0 0 21 21"
                class="p-1 transition ease-in-out rounded-full group-hover:bg-zinc-800"
              >
                <g
                  fill="none"
                  fill-rule="evenodd"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="m13.5 13.5l3 3l3-3" />
                  <path d="M9.5 4.5h3a4 4 0 0 1 4 4v8m-9-9l-3-3l-3 3" />
                  <path d="M11.5 16.5h-3a4 4 0 0 1-4-4v-8" />
                </g>
              </svg>
              <span class="text-sm text-gray-500 group-hover:text-green-500"> {{tweet["tweet_total_retweets"]}} </span>
            </div>
            <div class="flex items-center gap-2 text-gray-500 hover:text-red-700 group">
              <svg
                width="30"
                height="30"
                viewBox="0 0 256 256"
                class="p-1 transition ease-in-out rounded-full group-hover:bg-zinc-800"
              >
                <path
                  fill="currentColor"
                  d="M128 220.2a13.6 13.6 0 0 1-9.9-4.1L35 133a58 58 0 0 1 2.2-84.2a56.5 56.5 0 0 1 41.6-14a62.8 62.8 0 0 1 40.3 18.3L128 62l11-11a57.9 57.9 0 0 1 84.1 2.2a56.2 56.2 0 0 1 14.1 41.6a62.8 62.8 0 0 1-18.3 40.3l-81 81a13.6 13.6 0 0 1-9.9 4.1Zm5.6-8.3ZM75 46.7a44 44 0 0 0-29.7 11.1a45.8 45.8 0 0 0-1.8 66.7l83.1 83.1a1.9 1.9 0 0 0 2.8 0l81-81c18.2-18.2 19.9-47.5 3.8-65.3a45.8 45.8 0 0 0-66.7-1.8l-15.3 15.2a6.1 6.1 0 0 1-8.5 0l-13.1-13.1A50.3 50.3 0 0 0 75 46.7Z"
                />
              </svg>
              <span class="text-sm text-gray-500 group-hover:text-red-700"> {{tweet["tweet_total_likes"]}} </span>
            </div>
            <div class="flex items-center gap-2 text-gray-500 hover:text-sky-500 group">
              <svg width="30" height="30" viewBox="0 0 512 512" class="p-1 transition ease-in-out rounded-full group-hover:bg-zinc-800">
                <path
                  fill="currentColor"
                  d="M128 496H48V304h80Zm224 0h-80V208h80Zm112 0h-80V96h80Zm-224 0h-80V16h80Z"
                />
              </svg>
              <span class="text-sm text-gray-500 group-hover:text-sky-500"> {{tweet["tweet_total_views"]}} </span>
            </div>
            <div class="text-gray-500 hover:text-sky-500">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 20 20" class="p-1 transition ease-in-out rounded-full hover:bg-zinc-800"><path fill="currentColor" d="M9.25 13.25a.75.75 0 0 0 1.5 0V4.636l2.955 3.129a.75.75 0 0 0 1.09-1.03l-4.25-4.5a.75.75 0 0 0-1.09 0l-4.25 4.5a.75.75 0 1 0 1.09 1.03L9.25 4.636v8.614Z"/><path fill="currentColor" d="M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z"/></svg>
          </div>
            
          </div>
        </div>
        <!-- end right of tweet -->
      </div>
      <!-- end tweet -->
      % end
      <section class="max-w-lg p-8">
      % if tweets == []:
      <h2 class="mb-2 text-3xl font-bold text-gray-200 capitalize-first">{{profile['user_username']}} don't have any tweets yet</h2>
      <p class="text-sm text-gray-600">Go to the frontpage to create your first Tweet to show some love. When you do, it’ll show up here.</p>
      % end
    </section>
    </div>
    </div>
    <!-- end center -->


%include("comp_right")
