<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css" />
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <title>Twitter</title>
</head>
<body class="bg-black">
    <section class="flex items-center justify-center min-h-screen ">
        <div>
            <div class="grid justify-center m-8">
                <img class="w-20" src="/images/twitter_bird_logo.png" alt="twitter logo">
            </div>
            <h1 class="my-2 text-2xl text-white">Reset your password?</h1>
            <form class="grid gap-2" method="POST" onsubmit="resetPassword(); return false">
                <input type="hidden" name="token" value="{{token}}">
                <label class="text-white" for="email">New password</label>
                <input class="p-2 text-sm" name="user_password" type="text" placeholder="Please insert your new password">
                <label class="text-white" for="email">Confirm new password</label>
                <input class="p-2 text-sm" name="user_confirm_password" type="text" placeholder="Please insert your password again">
                <button class="p-3 mt-2 text-xl text-white bg-sky-500">Change Of Password</button>
            </form>
        </div>
    </section>
    <script>
        async function resetPassword(){
            const frm = event.target 
            console.log(new FormData(frm))
            const conn = await fetch("/api-reset-password", {
                method: "POST",
                body: new FormData(frm)

            })
            const data = await conn.json()
            console.log("Reset password page loaded", data)
            const token = frm.querySelector("input[name='token']").value
            console.log(token)
            const user_password = frm.querySelector("input[name='user_password']").value
            console.log(user_password)
            const user_confirm_password = frm.querySelector("input[name='user_confirm_password']").value
            console.log(user_confirm_password)
            
        }
    </script>
</body>
</html>