<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css" />
    <title>{{title}}</title>
</head>
<body class="bg-black">
    <section class="flex items-center justify-center min-h-screen ">
        <div>
            <div class="grid justify-center m-8">
                <img class="w-20" src="/images/twitter_bird_logo.png" alt="twitter logo">
            </div>
            <h1 class="my-2 text-2xl text-white">Sign Up</h1>
            <form class="grid gap-2" method="POST" onsubmit="signUp(); return false">
                <label class="text-white" for="username">Username</label>
                <input class="p-2 text-sm" name="user_username" type="text" placeholder="Username">
                <label class="text-white" for="first_name">First name</label>
                <input class="p-2 text-sm" name="user_first_name" type="text" placeholder="Firstname">
                <label class="text-white" for="last_name">Last name</label>
                <input class="p-2 text-sm" name="user_last_name" type="text" placeholder="Lastname">
                <label class="text-white" for="email">Email</label>
                <input class="p-2 text-sm" name="user_email" type="text" placeholder="Email">
                <label class="text-white" for="password">Password</label>
                <input class="p-2 text-sm" name="user_password" type="password" placeholder="Password">
                <button class="p-2 text-xl text-white bg-sky-500">Sign Up</button>
            </form>
        </div>
    </section>
    <script>
        async function signUp(){
            const frm = event.target 
            console.log(new FormData(frm))
            const conn = await fetch("/api-signup", {
                method: "POST",
                body: new FormData(frm)

            })
            const data = await conn.json()
            console.log("User created", data)
            const username = frm.querySelector("input[name='user_username']").value
            console.log(username)
            
            // if(something){
            //     console.log("Cannot login")
            //     alert()        
            //     return
            // }
        }
    </script>
</body>
</html>