<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css" />
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <title>{{title}}</title>
</head>
<body class="bg-black">
    <section class="flex items-center justify-center min-h-screen ">
        <div class="grid text-white">
            <p class="text-center">You are now verified</p>
            <a href="/" class="w-full px-8 py-2 my-2 ml-auto text-lg font-semibold text-white rounded-full bg-sky-500">return to twitter</a>
        </div>
    </section>  
</body>
</html>
